.stash-page-header {
    margin-left: 40px;
    color: #F3EAC0;
}
.stash-page-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.stash-list {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.stash-list button {
    margin: 10px;
    width: 30%;
    height: 100px;
    border-radius: 8px;
    font-size: 20px;
}

.stash-list button {
    cursor: pointer;
}

.fa {
    font-size: 50px;
}