.owners {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 5rem auto;
  width: 50rem;
  max-width: 95%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgb(219, 216, 208);
  color: #3a3a3a;
}

.header-account__id {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
}

.header-account-owner__detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.header h2 {
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
}

.header-account-owner__balance {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  
}

@media (min-width: 580px) {
  .header-account-owner__detail {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .header h2 {
    font-size: 1.25rem;
  }

  .header-account-owner__balance {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}