@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Muli:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

.budget-container {
  width: 100%;
  height: 100vh;
  background-color: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62.5%;
}

.app-wrapper {
  width: 90%;
  max-width: 150rem;
  height: 80vh;
  background-color: #4b4b4b;
  color: #eee;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: minmax(38%, 40rem) repeat(2, minmax(29%, 29rem));
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem;
}

.budget-header {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4b4b4b;
}

.budget-header__h1{
  font-family: "Muli", serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ddb3f8;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.balance {
  grid-column: 1 / 1;
  grid-row: 3 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  text-align: center;
}

.balance h2 {
  font-family: "Baloo Da 2", serif;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.balance h3 {
  font-family: "Baloo Da 2", serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.income-expense {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  font-family: "Muli", serif;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  text-align: right;
}

.plus,
.minus {
  margin: 0 2rem;
}

.plus {
  color: #ddb3f8;
}

.minus {
  color: #ddb3f8;
}

.income-expense h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  width: 100%;
}

.income-expense p {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.form-wrapper {
  grid-column: 2 / -1;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.input-group {
  display: flex;
  flex-direction: column;
}

.income {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.expense {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.input-group input:not([type="submit"]) {
  width: 17rem;
  margin-bottom: 1rem;
  border: none;
  background: transparent;
  border-bottom: 0.1rem solid #777;
  padding: 0.25rem 0.25rem 0.25rem 0;
  font-family: "Baloo Da 2", serif;
  font-size: 1.2rem;
  color: #eee;
  outline: none;
  transition: border-bottom 0.4s;
}

.income input:not([type="submit"]):focus {
  border-bottom: 0.2rem solid #ddb3f8;
}

.expense input:not([type="submit"]):focus {
  border-bottom: 0.2rem solid #ddb3f8;
}

.input-group input[type="submit"] {
  width: 6.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  font-family: "Muli", serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 1rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.input-group input[type="submit"]:active {
  transform: translateY(0.3rem);
}

.income input[type="submit"] {
  background-color: #ddb3f8;
}

.expense input[type="submit"] {
  background-color: #ddb3f8;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.transactions {
  margin-top: 1rem;
}

.transactions h2 {
  font-family: "Baloo da 2", serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  margin-bottom: 0.6rem;
}

.transactions-income {
  grid-column: 2 / 3;
  grid-row: 5 / -1;
}

.transactions-expense {
  grid-column: 3 / -1;
  grid-row: 5 / -1;
}

.transaction-list {
  width: 92%;
  max-height: 10rem;
  overflow: hidden;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.transaction {
  list-style: none;
  font-family: "Baloo da 2", serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  color: #fff;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 0.3rem;
  width: 18rem;
  display: flex;
  justify-content:space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.transactions-income .transaction {
  background-color: #ddb3f8;
}

.transactions-expense .transaction {
  background-color: #ddb3f8;
}

.transaction-text {
  width: 8rem;
}

.transaction-amount {
  transform: translateX(3rem);
}

.delete-btn {
  transform: translateX(3.5rem);
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  margin: 0 1rem;
  color: rgb(219, 216, 208);
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  outline: none;
}