.deposit-wrapper {
    width: 100%;
    height: 100%;
    border: 2px solid #f8dfff;
    border-radius: 10px;
    background-color: #f8dfff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input-wrapper button {
    margin-top: 0.5rem;
}
.new-details {
    width: 450px;
    height: 55px;
    margin-top: 8px;
    color: white;
    font-size: 15px;
    border: 2px solid #292929;
    border-radius: 5px;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .new-amount {
    height: 50%;
    justify-content: center;
    align-content: center;
} */

.deposit-label {
    color: black;
    font-weight: bold;
    margin-right: 0.3rem;
}

.deposit-input {
    padding: 0.3rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 100%;
    margin-right: 0.5rem;
}

.deposit-btn {
    font: inherit;
    cursor: pointer;
    padding: 0.3rem 1.5rem;
    border: 1px solid #4826b9;
    background-color: #4826b9;
    color: white;
    border-radius: 5px;
}

.deposit-input2 {
    padding: 0.3rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 10rem;
    max-width: 100%;
    margin-right: 0.5rem;
}