.deposit-wrapper {
    width: 800px;
    height: 100%;
    border: 2px solid #ffa31a;
    border-radius: 10px;
    background-color: #ffa31a;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-details {
    width: 400px;
    color: white;
    border: 2px solid #292929;
    border-radius: 5px;
    background-color: #292929;
}