.error-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.error-modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  background-color: white;
}

.error-header {
  background: #40005d;
  padding: 1rem;
}

.error-header h2 {
  margin: 0;
  color: white;
}

.error-content {
  padding: 1rem;
}

.error-action {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.error-action button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .error-modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}