.main-nav__header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #ddb3f8;
}

.main-nav__logo {
  font-size: 2rem;
  color: #4826b9;
}

.main-nav__nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.main-nav__nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.main-nav__nav a {
  text-decoration: none;
  color: #4826b9;
}

.main-nav__nav a:hover,
.main-nav__nav a:active,
.main-nav__nav a.active {
  color: #e6fcfc;
}