.new-account {
  background-color: rgb(248, 219, 162);
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);

}

.new-account button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid rgb(246, 175, 37);
  background-color: rgb(246, 175, 37);
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-account button:hover,
.new-account button:active {
  background-color: rgb(246, 175, 37);
  border-color: rgb(246, 175, 37);
}

.new-account button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-account button.alternative:hover,
.new-account button.alternative:active {
  background-color: rgb(248, 219, 162);
}