:root {
    --clr-neon: #9D00FF;
    --clr-bg: hsl(323 21% 16%);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    margin: 3rem auto;
    width: 70rem;
    max-width: 95%;
    background-color: #4b4b4b;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.buttons-wrapper {
    display: flex;
    flex-direction: column;
}
.feature-button {
    height: 60px;
    width : 130px;
    text-decoration: none;
    font-size: 18px;
    color: var(--clr-neon);
    margin: 3px;
    cursor: pointer;
    border: var(--clr-neon) 3px solid;
    background-color: rgb(31, 31, 31);
    
    text-shadow: 0 0 0.125em hsl(0 0% 100% / .3), 0 0 0.25em currentColor;

    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

    position: relative;
    transition: background-color 100ms
}

.-feature-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
}

.feature-button:hover {
    background-color: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
}

.feature-button:hover::after {
    opacity: 1;
}

body {
    background-image: url("./bg_2.jpg");
    background-color: #3f3f3f;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
}