:root {
    --clr-neon: #9D00FF;
    --clr-bg: hsl(323 21% 16%);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    margin: 6rem auto;
    width: 70rem;
    height: 30rem;
    max-width: 95%;
    background-color: #4b4b4b;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.login {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f3f3f;
  }

.login-header {
    width: 100%;
    height: 5rem;
    background-color: #f8dfff;
    padding: 0 1.5%;
}

.login-header div {
    display: inline-block;
    color: #4826b9;
    font-size: 2rem;
    margin-top: 14px;
    margin-left: 20px;
}

.login form {
    display: block;
    position: relative;
}

.login form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-color: #f8dfff;
    border-radius: 6px;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
}
.feature-button {
    height: 60px;
    width : 130px;
    text-decoration: none;
    font-size: 18px;
    margin: 3px;
    cursor: pointer;
}

body {
    background-color: #3f3f3f;
}

/* Shawn Code */
.acc-interact-wrapper {
    background-color: #f8dfff;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    height: 362px;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}